<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add a post</title>
</head>
<body>
<form action="#" th:action="@{/newpost}" th:object="${newPost}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label>Post Title:</label>
    <input type="text" th:field="*{postTitle}"/>
    <p th:if="${#fields.hasErrors('postTitle')}" th:errors="*{postTitle}"></p>
    <label>Screen Name:</label>
    <input type="text" th:field="*{screenName}"/>
    <p th:if="${#fields.hasErrors('screenName')}" th:errors="*{screenName}"></p>
    <label>Url:</label>
    <input type="text" th:field="*{url}"/>
    <p th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></p>
    <label>Description:</label>
    <input type="text" th:field="*{description}"/>
    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
    <input class="btn btn-md" type="submit" value="Submit"/>
</form>

</body>
</html>